<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Create Job</title>
</head>
<body>
    <h1 class="text-center fst-italic border-bottom"> Job Hunt</h1><br>
    <a href="/jobs" class="btn btn-primary btn-lg px-4 gap-3">Dashboard</a>
    <a href="/logout" class="btn btn-primary btn-lg px-4 gap-3">Logout</a>

    
    <h2 class="text-center">Create a job list you recently applied for!</h2>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                            
            {% for message in messages %}            
                <p>{{message}}</p>                   
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="col">
            <form action="/create/job/new" method="POST" class="col-9 bg-light text-light my-5 p-4 r-2">
                <div class="form-control">
                    <label for="company_name">Company Name :</label>
                    <input type="text" name="company_name" class="form-control">
                </div>  <br>
                <div class="form-control">
                    <label for="position">Position</label>
                    <input type="text" name="position"class="form-control" >
                </div><br>
                <div class="form-control">
                    <label for="status">Status</label>
                    <input type="text" name="status" class="form-control">
                </div><br>
                <div class="form-control">
                    <label for="follow_up">Follow Up</label>
                    <input type="text" name="follow_up" class="form-control">
                </div><br>
                <input type="submit" value="Submit" class="btn btn-primary btn-lg px-4 gap-3">

            </form>
        </div>
    </div>
    
</body>
</html>